
/target/
/*.war
/*.ear


target/


/.settings/
/.classpath
/.project
/.vscode/
*.iml
*.ipr
*.iws
.idea/

*.log


src/main/resources/local.properties


.DS_Store
/tmp/
/backup/
/work/


/eclipse-workspace-new/TaskManager/target/
/eclipse-workspace-new/TaskManager/.settings/
/eclipse-workspace-new/TaskManager/.classpath
/eclipse-workspace-new/TaskManager/.project
/eclipse-workspace-new/RemoteSystemsTempFiles/
